/*Палитра*/
/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* черный #000000 */
/* белый  #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--secondary-white-color: #f5f4fa;
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);

	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

.list {
	list-style: none;
}

/*Шапка сайта*/

/*Логотип*/

.logo {
	color: #000000;
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}

.logo-head {
	color: var(--accent-color);
}

/*Навигация*/

.nav .nav-link {
	color: var(--title-text-color);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
	color: var(--accent-color);
}

.nav .nav-link.current {
	color: var(--accent-color);
}

.contact .link {
	color: var(--primary-text-color);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
	color: var(--accent-color);
}

/*СТУДИЯ*/

/*Герой*/

.hero-title {
	color: var(--primary-white-color);
	/*временный цвет фона для видимости заголовка*/
	background-color: rgba(47, 48, 58, 0.8);
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

/*Остальной main*/

/*Section*/

.section-title {
	color: var(--title-text-color);
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

/*Преимущества*/

.feature-list .title {
	color: var(--title-text-color);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.feature-list {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

/*Услуги*/

.services-list .services-title {
	color: var(--primary-white-color);
	/*временный цвет фона для видимости заголовка*/
	background-color: rgba(47, 48, 58, 0.8);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
}

/*Персонал*/

.staff-list .title {
	color: var(--title-text-color);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
}

.social {
	text-decoration: none;
}

/*Клиенты*/

/*Футер*/

.footer {
	background-color: #2f303a;
}

.office {
	color: var(--primary-white-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}

.connection {
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}

.footer-socisal {
	text-decoration: none;
}

.act {
	color: var(--primary-white-color);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

/*Button*/

.button {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	text-decoration: none;
}

/*ПОРТФОЛИО*/

.portfolio-button {
	color: var(--title-text-color);
	background-color: var(--secondary-white-color);
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.portfolio-button:hover {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

.portfolio-link {
	text-decoration: none;
}

.portfolio-title {
	color: var(--title-text-color);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.project {
	color: var(--primary-text-color);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
}

.description {
	color: var(--primary-white-color);
	/*временный цвет фона для видимости текста*/
	background-color: rgba(33, 150, 243, 0.9);
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
}
